{% extends 'base.html' %}
{% load static %}
{% block titulo %}
<title>Inicio</title>
{% endblock %}
{% block navegacion %}
{% include 'navegacion.html' %}
{% endblock %}
{% block contenido %}
<div class="card text-bg-dark">
    <img class="card-img" src="{% static 'img/fondo3.jpg' %}" alt="libreria">
    <div class="card-img-overlay">
        <h3
            style="color: rgb(228, 227, 227); text-align: center; font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">
            Esta es una aplicacion para lectores de todas partes del mundo!
            Vas a encontrar los libros favoritos de la comunidad, sus opiniones y también dejar tu opinion respecto a
            estos
            libros!
            Registrate y sumate a la comunidad!
        </h3>
    </div>
</div>
<section style="margin-top: 10%;">
    <div class="container">
        <div id="carouselExampleIndicators" class="carousel slide">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                    aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="card-img-top" style="display: block; width: 70%; margin: auto;">
                        <img src="{% static 'img/img_libros/el_principito.jpeg' %}" class="card-img-top w-75">
                    </div>
                </div>
                <div class="carousel-item s">
                    <div class="card-img-top" style="display: block; width: 70%; margin: auto;">
                        <img src="{% static 'img/img_libros/harry_potter_1.jpg' %}" class="card-img-top w-75">
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="card-img-top" style="display: block; width: 70%; margin: auto;">
                        <img src="{% static 'img/img_libros/el_hobbit.jpg' %}" class="card-img-top w-75">
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Anterior</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Siguiente</span>
            </button>
        </div>
    </div>
</section>
{% endblock %}