{% if is_paginated %}
	<nav>
	  	<ul class="pagination pagination-circle mg-b-0 justify-content-center">
		  	{% if page_obj.number == 1  %}
		  		<li class="page-item disabled"><a class="page-link">Primera</a></li>
		  	{% else %}
		  		<li class="page-item"><a class="page-link" href="?page=1">Primera</a></li>
	         {% endif %}
		  	
		  	
		  	{% if page_obj.has_previous %}
		  		<li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Anterior</a></li>
		  	{% else %}
		  		<li class="page-item disabled"><a class="page-link">Anterior</a></li>
		  	{% endif %}

		  	{% for i in paginator.page_range %}
		  		{% if page_obj.number|add:'-1' <= i and page_obj.number|add:'1' >= i %}
	            	<li class="page-item {% if page_obj.number == i %}active{% endif %}"><a class="page-link" href="?page={{i}}">{{ i }}</a></li>
	            {% else %}

	        	{% endif %}
	        {% endfor %}
		  	
	        {% if page_obj.has_next %}
		    	<li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Siguiente</a></li>
		    {% else %}
		    	<li class="page-item disabled"><a class="page-link">Siguiente</a></li>
		    {% endif %}

		    {% if page_obj.number == paginator.num_pages %}
		    	<li class="page-item disabled"><a class="page-link">Última</a></li>
		    {% else %}
		    	<li class="page-item"><a class="page-link" href="?page={{paginator.num_pages}}">Última</a></li>
		    {% endif %}  
	  	</ul>
	</nav>
	
{% endif %}